html{
    font-size: 10px;
    background: url("src/img/drum.png") ;
    background-color:rgb(23, 31, 34);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    color: aliceblue;
    text-align: center;
}
.keys{
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
}

.key{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    transition: all 0.7s ease;
    width: 10rem;
    text-align: center;
    color:white;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 0,0, .5rem black;
}

kbd{
    display: block;
    font-size: 4rem;
}

.playing{
    transform: scale(1.1);
    border-color: #34dea3;
    box-shadow: 0 0 1rem #34dea3;
}

.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #34dea3;
}
div.foo{
    font-size: 1.8rem;
    text-align: center;
    color: antiquewhite;
    display: flex-end;
}

div.foo,a{
    color: aliceblue;
    font-size: 1.8rem;
}